include image

mixin tripOffer(trip, trip_id)
  section.offer
    +image()(src=trip.img, alt=trip.title, class="offer_img")
    article.offer_article
      header
        h1 #{trip.title}
      p.offer_description #{trip.offer_description}
      footer.offer_footer
        p Price: #{trip.price}
        p Time: #{trip.beg_date.toLocaleDateString("en-US")} - #{trip.end_date.toLocaleDateString("en-US")}
        a(href='trip/' + trip_id) Book &gt;&gt;